<div class="container">
    <div class="jumbotron bun top">
        <h1 class="display-3">Burger Time!!!</h1>
        <h6 class="lead">Click a burger to eat it!</h6>
    </div>
    <div class="row meat">
        <div class="col-md-6">
            <h1>Burgers Ready to Eat</h1>
            <ul>
            {{#each burgers}}
                {{#unless devoured}}
                    <li><div class="burgerDiv" data-id="{{id}}">{{id}}. {{name}}</div></li>
                {{/unless}}
            {{/each}}
            </ul>
        </div>
        <div class="col-md-6">
            <h1>Burgers Eaten</h1>
            <ul class="eaten">
            {{#each burgers}}
                {{#if devoured}}
                    <li><div class="eatenDiv" data-id="{{id}}">{{id}}. {{name}}</div></li>
                {{/if}}
            {{/each}}
            </ul>
        </div>
    </div>
    <div class="jumbotron bun bottom">
        <h1 class="display-3">Add a Burger</h1>
            <form id="addBurger">
                <div class="form-group">
                  <label for="newBurger"></label>
                  <input type="text"
                    class="form-control" id="newBurger" aria-describedby="helpId" placeholder="">
                </div>
                <button type="submit" class="btn">Submit</button>
            </form>
        </div>
    </div>

</div>